<div class="wrapper">

<mat-toolbar >
    <mat-toolbar-row class="header">
      <a href="https://www.marvel.com/" target="_blank">
        <img class="header-logo" src="assets/img/marvel.svg">
      </a>

      

      <h1 >{{'APP_TITLE' | translate}}</h1>

      <a [ngStyle]="{'visibility': showBack ? 'visible':'hidden' }" mat-icon-button routerLink="/heroes">
        <mat-icon>arrow_back</mat-icon>
        <span>{{'GO_BACK' | translate}}</span>
      </a>

    </mat-toolbar-row>
  </mat-toolbar>

  <div class="content">
 
<router-outlet></router-outlet>
</div>

<mat-toolbar  >
    <mat-toolbar-row class="footer">
      <a href="https://developer.marvel.com" target="_blank"><small>Data provided by Marvel. © 2019 Marvel</small></a>
    </mat-toolbar-row>
  </mat-toolbar>

</div>