<div class="wrapper">

<mat-toolbar class="header">
    <mat-toolbar-row>
      <a mat-icon-button href="https://www.angular.io/" target="_blank">
        <img src="assets/angular.png">
      </a>

      <h2 fxFlex>title</h2>


    </mat-toolbar-row>
  </mat-toolbar>

  <div class="content">
 
<router-outlet></router-outlet>
</div>

<mat-toolbar  class="footer">
    <mat-toolbar-row>
      <small fxFlex>version: {{version}}</small>
      <small>Data provided by Marvel. © 2014 Marvel</small>
    </mat-toolbar-row>
  </mat-toolbar>

</div>